@media screen and (min-width:500px) {



/* Style for Body */
body {
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    background-image: url('https://picsum.photos/1300/800?image=971');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    overflow: hidden;


}

/* Styling for Navigator Menu*/

.menu {

    background-color: #ffff;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    font-size: 100%;
    float: center;
    text-align: center;
    overflow: hidden;
    margin: auto;
    margin-bottom: -.66%;

}

/* Styling for Name*/

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    width: auto;
    font-size: 23px;
    color: #ffff;
    letter-spacing: 1px;
    background-color: #4aaaa5;
    padding: 25px;
    float: left;
    margin-left: 14%;
    margin-right: 40%;
    margin-bottom: 0%;

}

/* Styling for Buttons*/


ul#horizontal-list {
    min-width: 20px;
    list-style: none;
    padding-top: 40px;
    float: left;
    overflow: hidden;
    margin-right: 10%;

}

ul#horizontal-list li {
    clear: both;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    float: center;
    margin-right: 0%;
    overflow: hidden;
}


/* unvisited link */
a:link {
    color: darkgrey;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkgrey;
}

/* mouse over link */
a:hover {
    color: teal;
}

/* selected link */
a:active {
    color: black;
}

/** Styling for Main Content **/

.wrapper {
    clear: both;
    background-color: #ffff;
    padding: 20px;
    width: 960px;
    height: 100%;
    margin-bottom: 40%;
    margin: auto;
    overflow: hidden;
}




hr {
    border-color: #dddd;
    margin-bottom: 10px;
}
/* Styling for About Me */

#about {
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 23px;
    letter-spacing: 1px;
    text-align: left;
    width: 960px;
    margin-bottom: 1%;
    margin: auto;
    padding: 15px;

}




/* Style two columns that floats next to each other */

.column {
    clear: both;
    float: left;
    width: 20%;
    display: flex;
    text-align: center;
    margin: relative;
    padding: 10 10 10px;
    border: 5 5 5px;
}

/* Clear floats after image containers */
.row::after {
    clear: both;
    float: left;
    width: 20%;
    display: flex;
    margin: relative;


}

/* Styling for image lables */


.box-set {
    background: #fffff;
    width: 400px;
    height: 100px;
    position: relative;
}

.box {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 14px;
    color: #ffff;
    height: 25px;
    width: 140px;
    margin-left: 4px;
    position: absolute;

}

/* Style for Hangman */

.box-1 {

    top: -150px;
    left: -5px;
    z-index: 5px;

}

/* Style for RPG Game */

.box-2 {

    top: -150px;
    right: 68px;

    z-index: 4px;
}


/* Style for Trivia Game */

.box-3 {

    top: -30px;
    left: -5px;
    z-index: 3px;

}

/* Style for Rutgers Info Widget */

.box-4 {


    top: -40px;
    right: 68px;
    z-index: 2px;

}

/* Style for Rock Paper Scissors */

.box-5 {

    top: 80px;
    left: -4.5px;
    z-index: 1px;

}



/** Styling for footer **/

.container2 {
    clear: both;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    background-color: #666666;
    color: #ffff;
    line-height: 50%;
    bottom: 0;
    padding: 20px;
    margin-top: 10%;
    padding-bottom: -20%;
}

p.separator2 {
    clear: both;
    height: 20;
    width: 100%;
    border: -5;
    border-top: 3px solid #4aaaa5;
    border-bottom: 3px solid#4aaaa5;
    margin-bottom: -10%;
    margin-top: 150px;
}